ContactManager/XmlData/Persons.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Persons">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Customers">
          <xs:complexType>
            <xs:sequence>
              <xs:any processContents="skip" minOccurs="0"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Employees">
          <xs:complexType>
            <xs:sequence>
              <xs:any processContents="skip" minOccurs="0"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Trainees">
          <xs:complexType>
            <xs:sequence>
              <xs:any processContents="skip" minOccurs="0"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>