ContactManager/XmlData/Persons.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Persons">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Customers">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Customer" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Id" type="xs:integer"/>
                    <xs:element name="Status" type="xs:string"/>
                    <xs:element name="Begrüssung" type="xs:string"/>
                    <xs:element name="Titel" type="xs:string"/>
                    <xs:element name="Vorname" type="xs:string"/>
                    <xs:element name="Nachname" type="xs:string"/>
                    <xs:element name="Geschlecht" type="xs:string"/>
                    <xs:element name="Funktion" type="xs:string"/>
                    <xs:element name="Firmenname" type="xs:string"/>
                    <xs:element name="Kundentyp" type="xs:string"/>
                    <xs:element name="Address">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Strasse" type="xs:string"/>
                          <xs:element name="Nummer" type="xs:string"/>
                          <xs:element name="Land" type="xs:string"/>
                          <xs:element name="Ort" type="xs:string"/>
                          <xs:element name="PLZ" type="xs:integer"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="ContactData">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element maxOccurs="unbounded" name="Telefon">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute name="Type" type="xs:string" use="required" />
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="Fax" type="xs:string"/>
                          <xs:element name="EMail" type="xs:string"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="MutationLogs">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="MutationLog" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Id" type="xs:string"/>
                                <xs:element name="Attribut" type="xs:string"/>
                                <xs:element name="Originalwert" type="xs:string"/>
                                <xs:element name="Aktualwert" type="xs:string"/>
                                <xs:element name="Zeitpunkt" type="xs:string"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="Logs">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Log" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="LogId" type="xs:integer"/>
                                <xs:element name="Datum" type="xs:string"/>
                                <xs:element name="Zeit" type="xs:string"/>
                                <xs:element name="Text" type="xs:string"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Employees">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Employee" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Id" type="xs:integer"/>
                    <xs:element name="Status" type="xs:string"/>
                    <xs:element name="Begrüssung" type="xs:string"/>
                    <xs:element name="Titel" type="xs:string"/>
                    <xs:element name="Vorname" type="xs:string"/>
                    <xs:element name="Nachname" type="xs:string"/>
                    <xs:element name="Geschlecht" type="xs:string"/>
                    <xs:element name="Funktion" type="xs:string"/>
                    <xs:element name="Geburtsdatum" type="xs:string"/>
                    <xs:element name="Abteilung" type="xs:string"/>
                    <xs:element name="Versicherungsnummer" type="xs:string"/>
                    <xs:element name="Nationalität" type="xs:string"/>
                    <xs:element name="Eintrittsdatum" type="xs:string"/>
                    <xs:element name="Austrittsdatum" type="xs:string"/>
                    <xs:element name="Beschäftigungsgrad" type="xs:integer"/>
                    <xs:element name="Kaderstufe" type="xs:integer"/>
                    <xs:element name="Address">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Strasse" type="xs:string"/>
                          <xs:element name="Nummer" type="xs:string"/>
                          <xs:element name="Land" type="xs:string"/>
                          <xs:element name="Ort" type="xs:string"/>
                          <xs:element name="PLZ" type="xs:integer"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="ContactData">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element maxOccurs="unbounded" name="Telefon">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute name="Type" type="xs:string" use="required" />
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="EMail" type="xs:string"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="MutationLogs">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="MutationLog" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Id" type="xs:string"/>
                                <xs:element name="Attribut" type="xs:string"/>
                                <xs:element name="Originalwert" type="xs:string"/>
                                <xs:element name="Aktualwert" type="xs:string"/>
                                <xs:element name="Zeitpunkt" type="xs:string"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Trainees">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Trainee" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Id" type="xs:integer"/>
                    <xs:element name="Status" type="xs:string"/>
                    <xs:element name="Begrüssung" type="xs:string"/>
                    <xs:element name="Titel" type="xs:string"/>
                    <xs:element name="Vorname" type="xs:string"/>
                    <xs:element name="Nachname" type="xs:string"/>
                    <xs:element name="Geschlecht" type="xs:string"/>
                    <xs:element name="Funktion" type="xs:string"/>
                    <xs:element name="Geburtsdatum" type="xs:string"/>
                    <xs:element name="Abteilung" type="xs:string"/>
                    <xs:element name="Versicherungsnummer" type="xs:string"/>
                    <xs:element name="Nationalität" type="xs:string"/>
                    <xs:element name="Eintrittsdatum" type="xs:string"/>
                    <xs:element name="Austrittsdatum" type="xs:string"/>
                    <xs:element name="Beschäftigungsgrad" type="xs:integer"/>
                    <xs:element name="Kaderstufe" type="xs:integer"/>
                    <xs:element name="Lehrjahre" type="xs:integer"/>
                    <xs:element name="Lehrjahr" type="xs:integer"/>
                    <xs:element name="Address">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Strasse" type="xs:string"/>
                          <xs:element name="Nummer" type="xs:string"/>
                          <xs:element name="Land" type="xs:string"/>
                          <xs:element name="Ort" type="xs:string"/>
                          <xs:element name="PLZ" type="xs:integer"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="ContactData">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element maxOccurs="unbounded" name="Telefon">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute name="Type" type="xs:string" use="required" />
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="EMail" type="xs:string"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="MutationLogs">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="MutationLog" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Id" type="xs:string"/>
                                <xs:element name="Attribut" type="xs:string"/>
                                <xs:element name="Originalwert" type="xs:string"/>
                                <xs:element name="Aktualwert" type="xs:string"/>
                                <xs:element name="Zeitpunkt" type="xs:string"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>